.products_list_scroll_section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 8vh;
  margin-top: 2vw;
  position: relative;
  align-items: center;
}
.products_list_scroll_section .seperator {
  width: 90vw;
  height: 1px;
  background-color: #CDCDCF;
  margin-left: auto;
  margin-right: auto;
}
.products_list_scroll_section .title_section {
  color: black;
  font-size: 6.4rem;
  line-height: 6.4rem;
  font-weight: 700;
  margin-top: 3vh;
  width: 90vw;
}
.products_list_scroll_section .button_previous {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
  left: 5%;
}
.products_list_scroll_section .button_previous img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
.products_list_scroll_section .button_next {
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  left: 95%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
}
.products_list_scroll_section .button_next img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  transform: rotate(180deg);
}
.products_list_scroll_section .products_container {
  width: 90vw;
  height: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: flex;
  gap: 3.5%;
  overflow-x: scroll;
  position: relative;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}
.products_list_scroll_section .products_container::-webkit-scrollbar {
  display: none;
}
.products_list_scroll_section .products_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.products_list_scroll_section .products_container .product_card {
  flex-shrink: 0;
  width: 31%;
  display: flex;
  flex-direction: column;
}
.products_list_scroll_section .products_container .product_card .product_images_container {
  width: 100%;
  height: 88%;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products_list_scroll_section .products_container .product_card .product_images_container img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.products_list_scroll_section .products_container .product_card .product_images_container .top {
  opacity: 1;
  transition: opacity 0.4s;
}
.products_list_scroll_section .products_container .product_card .product_images_container .bottom {
  opacity: 0;
  transition: opacity 0.4s;
}
.products_list_scroll_section .products_container .product_card .product_images_container:hover .top {
  opacity: 0;
}
.products_list_scroll_section .products_container .product_card .product_images_container:hover .bottom {
  opacity: 1;
}
.products_list_scroll_section .products_container .product_card .product_title {
  margin-top: 0.6vw;
  color: #152f4e;
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-weight: 700;
  cursor: pointer;
  max-height: 4.2rem; /* 2 lines * line-height */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.products_list_scroll_section .products_container .product_card .price_product {
  color: #152f4e;
  font-weight: 700;
  font-size: 1.4rem;
}

@media screen and (max-width: 770px) {
  .products_list_scroll_section .title_section {
    text-align: center;
    font-size: 4.3rem;
    line-height: 4rem;
    letter-spacing: -0.05em;
  }
  .products_list_scroll_section .button_next {
    display: none;
  }
  .products_list_scroll_section .button_previous {
    display: none;
  }
  .products_list_scroll_section .products_container {
    height: 80vh;
  }
  .products_list_scroll_section .products_container .product_card {
    width: 80%;
  }
}