.hero_section_container{
    width: 100vw;
    height: 103vh;
    display: flex;
    justify-content: center;
    margin-top:-17vh;
    position: relative;
    .img_container{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .main_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40vh;
        z-index: 2;

        .hero_title{
            font-size: 6.4rem;
            line-height: 6.4rem;
            font-weight: 900;
            letter-spacing: -.05em;
            color: white;
        }
        .buttons_hero_container{
            margin-top: 2.5rem;
            display: flex;
            gap: 1.4rem;
            flex-wrap: wrap;
            justify-content: center;
            .btn{
                padding: 1.2rem 2.4rem 1.4rem;
                border-radius: 6.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color .3s;
                cursor: pointer;
                text-decoration: none;
                span{
                    font-size: 1.4rem;
                    font-weight: 700;
                    display: block;
                }
            }
            .btn:hover{
                span{
                }
            }
        }
    }
}
@media screen and (max-width: 1080px) {
    .hero_section_container{
        height: 60vh;
        margin-top:0;
        .img_container{
            top: 0;
            img{
                object-fit: cover;
            }
        }
        .main_content{
            margin-top: 20vh;
            .hero_title{
                font-size: 4rem;
                width: 80%;
                text-align: center;
            }
            .buttons_hero_container{
                width: 80%;
                flex-wrap: wrap;
                justify-content: center;
                .btn{
                    width: 30vw;
                    text-align: center;
                    font-size: 1.7rem;
                    padding-left: 3vw;
                    padding-right: 3vw;
                }
            }
        }
    }
}